.container {
	width: 95vw;
	min-width: 991px;
	margin: 0 auto;
}
.main {
	padding-bottom: 1vh;
}
.main__wrapper {
	min-height: 100vh;
	margin: 1rem auto;
	padding: 0 2% 2rem 2%;
	border: 2px solid rgb(36, 209, 192);

	position: relative;

	/* display: flex;
	justify-content: center;
	align-items: center; */
}
